<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a asp-controller="Dashboard" asp-action="index" class="nav-link">
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Group" asp-action="index" class="nav-link">
                <p>
                    Groups
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Contact" asp-action="index" class="nav-link">
                <p>
                    Contacts
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Summary" asp-action="imports" class="nav-link">
                <p>
                    Imports
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Summary" asp-action="exports" class="nav-link">
                <p>
                    Exports
                </p>
            </a>
        </li>
    </ul>
</nav>